slurm_jobs/debug_setup_env.sh
slurm_jobs/persistent_job.sh
slurm_jobs/request_node_julich.sh
.env

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ingore TensorFlow event files
*.event
*.tfevents.*
results/
plots/
tests/
game_reasoning_arena_blog_post.md
slurm_jobs/run_simulation.sh
board_game_arena_blog_post.md